h1.due {
  color: rgb(0, 0, 190);
  font-family: 'Roboto Slab', serif;
}

h1.tre {
  color: rgb(0, 0, 190);
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

h1.quattro {
  color: rgb(0, 153, 255);
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
h1.cinque {
  color: rgb(0, 0, 190);
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

h6.quattro {
  color: rgb(65, 65, 65);
  font-family: 'Fira Sans', serif;
  text-align: center;
}

.cinque {
  font-family: 'Fira Sans', serif;
  color: rgb(0, 153, 255);
}

h3.quattro {
  color: rgb(65, 65, 65);
  font-family: 'Fira Sans', serif;
}

p.subtxt {
  color: rgb(65, 65, 65);
  font-family: 'Fira Sans', serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

p {
  color: rgb(0, 136, 41);
  font-family: 'Fira Sans', serif;
}

i.title {
  color: rgb(114, 114, 114);
  font-family: 'Fira Sans', serif;
}

ul {
  color: rgb(162, 0, 212);
}

ol {
  color: rgb(70, 70, 70);
}

div.tre {
  width: 100%;
  margin: auto;
}

div.cinqueout {
  width: fit-content;
  margin: auto;
}

div.cinquein {
  box-shadow: 0px 0px 10px 1px grey;

  width: fit-content;
}

div.cinqueinin {
  padding: 30px;
}
